<script>
	import { stores } from "@sapper/app"
	import cssVars from "svelte-css-vars"
	import StickyFooterLayout from "../components/StickyFooterLayout.svelte"
	import Tailwind from "../components/Tailwind.svelte"
	import Footer from "../../content/Footer.svelte"
	import { getBreakpoint } from "../theme.js"

	let showMainMenu = false
	const { page, session } = stores()

	let node
	let titleIsVisible = true

	$: navbarVars = {
		navbarTextColor: "#edf2f7",
		navbarHoverColor: "white",
	}

	$: config = $session.config
	$: if (config && config.navbar) {
		if (config.navbar.textColor) {
			navbarVars.navbarTextColor = config.navbar.textColor
		}
		if (config.navbar.hoverColor) {
			navbarVars.navbarHoverColor = config.navbar.hoverColor
		}
	}
	$: path = $page.path
	$: currentPageConfig = config.pages.find((page) => path.slice(1) === page.slug)
	$: currentPageSlug = (currentPageConfig ? currentPageConfig.slug : null) || "."
	$: menuItems = config.pages
		.filter((page) => Boolean(page.navbarTitle))
		.map((page) => ({
			slug: page.slug || ".",
			title: page.navbarTitle,
		}))
	$: pageTitle = currentPageConfig ? currentPageConfig.navbarTitle || currentPageConfig.title : null
	$: websiteTitle = config.title ? config.title : "Vitrine"

	function remToPixels(rem) {
		let fontSize = 16
		if (document) {
			fontSize = parseFloat(getComputedStyle(document.documentElement).fontSize)
		}
		return rem * fontSize
	}

	async function handleWindowResize() {
		if (node) {
			const navbarWidth = node.clientWidth
			const visibleMenuButton = navbarWidth < getBreakpoint("lg")
			const titleElement = node.querySelector("#title")
			// apply special rules if title is defined and burger menu is visible
			if (titleElement && visibleMenuButton) {
				// widthAvailableForTitle allows the store the width taken by all the elements of the navbar excluding only the title and the margin right of the title.
				// Paddings and margins are also counted
				// Padding and margin values are divided by 4, beacause m-1 : 0.25rem and so on
				// If page page layout comes to change, subsequent calculations must be adapted
				if (!titleIsVisible) {
					titleElement.setAttribute("style", "display: block; visiblity: hidden;")
				}
				let widthAvailableForTitle =
					navbarWidth - (remToPixels(6 / 4) * 3 + node.querySelector("#menuButton").clientWidth)
				if (node.querySelector("#logo")) {
					widthAvailableForTitle -= node.querySelector("#logo").clientWidth + remToPixels(4 / 4)
				}

				// if there is not enought place to display title, do not display it
				if (titleElement.clientWidth > widthAvailableForTitle) {
					titleIsVisible = false
				} else {
					titleIsVisible = true
				}
			} else {
				titleIsVisible = true
			}
			titleElement.removeAttribute("style")
		}
	}

	$: if (node) {
		handleWindowResize()
	}
</script>

<svelte:head>
	<title>{pageTitle ? `${pageTitle} | ` : ''} {websiteTitle}</title>
</svelte:head>

<svelte:window on:resize={handleWindowResize} />

<Tailwind />

<StickyFooterLayout>
	<div slot="content" bind:this={node}>
		<nav class="flex items-center justify-between flex-wrap bg-primary p-6" use:cssVars={navbarVars}>
			<div class="flex items-center flex-shrink-0 mr-6 navbar-text">
				{#if config.navbar && (config.navbar.logo || config.navbar.title)}
					<a
						id="title"
						class="font-medium text-xl tracking-tight {titleIsVisible ? '' : 'hidden'}"
						href="."
						on:click={() => (showMainMenu = false)}>
						<div class="flex">
							{#if config.navbar.logo}
								<img src={config.navbar.logo} class="h-12 mr-4" id="logo" alt={websiteTitle} />
							{/if}
							{#if config.navbar.title}<span style="margin-top:0.48rem;">{config.navbar.title}</span>{/if}
						</div>
					</a>
				{/if}
			</div>
			<div id="menuButton" class="block lg:hidden">
				<button
					class="flex items-center px-3 py-2 border rounded navbar-text navbar-border"
					on:click={() => (showMainMenu = !showMainMenu)}>
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>
			<div class="{showMainMenu ? 'block' : 'hidden'} w-full flex-grow lg:flex lg:items-center lg:w-auto">
				<div class="text-md lg:flex lg:flex-grow lg:justify-end">
					{#each menuItems as { slug, title }}
						<a
							class="block border-b-2 {currentPageSlug === slug ? 'navbar-border' : 'border-primary'}
							lg:inline-block mt-4 lg:mt-0 navbar-text mr-4
							last:mr-0"
							href={slug}
							on:click={() => (showMainMenu = false)}>
							{title}
						</a>
					{/each}
					{#if config.navbar && config.navbar.externalLinks}
						{#each config.navbar.externalLinks as { title, url }}
							<div class="navbar-button py-4 lg:py-0">
								<a class="navbar-text navbar-border" href={url} target="_blank"> {title} </a>
							</div>
						{/each}
					{/if}
				</div>
			</div>
		</nav>

		<slot />
	</div>
	<div slot="footer">
		<Footer />
	</div>
</StickyFooterLayout>

<style lang="postcss">
	.navbar-button a {
		border: solid;
		border-width: 2px;
		border-radius: 9px;
		padding: 8px;
	}

	@screen lg {
		.navbar-button a {
			margin: 11px;
		}
	}

	.navbar-text {
		color: var(--navbarTextColor);
	}

	.navbar-border {
		border-color: var(--navbarTextColor);
	}

	.navbar-text:hover {
		color: var(--navbarHoverColor);
	}

	.navbar-border:hover {
		border-color: var(--navbarHoverColor);
	}
</style>
